nav.col-md-2.d-none.d-md-block.bg-light.sidebar
	.sidebar-sticky
		ul.nav.flex-column
			li.nav-item
				a.nav-link.active(href='/episodes')
					span(data-feather='home')
					| Episodes 
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='/settings')
					span(data-feather='file')
					| Settings